.search-box-main-container {
	display: flex;
	flex-direction: row;
    align-items: center;
	width: fit-content;
	height: auto;
	margin: 20px auto;
	padding: 20px;
}

.search-box-container {
	-webkit-appearance: none;

	border: 1px solid black;

	outline: none;

	padding: 10px;

	width: 250px;

	line-height: 10px;

	font-size: 1.5em;

	margin-left: 10px;
    
    border-radius: 4px;
}

.search-box-label {
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	
}
